{% extends "base.html" %}
{% load tailwind_filters %}
    {% block content %}
<div class="max-w-lg mx-auto">
    <a href="{% url 'leads' %}" class="hover:text-purple-400 mt-3">Go back to leads list</a>
    <hr>
    <div class="py-5 border-t border-gray-200">
    <h1 class="text-4xl text-gray-800">Create a New Lead:</h1><br>
    </div>
    <form method="post" class="mt-5">
        {% csrf_token %}
        {{ form|crispy }} 
        <button type="submit" class="w-full bg-indigo-500 text-white hover:bg-indigo-600 px-3 py-2 rounded-md">Submit</button>
    </form>
</div>
{% endblock content %}
<!--    <form>
        <h3>Enter your first name: </h3>
        <input type="text" name="first_name" ><br>
        <h3>Enter your last name: </h3>
        <input type="text" name="last_name" ><br>
        <h3>Enter your age: </h3>
        <input type="text" name="age" ><br>
        <h3>Choose your agent: </h3>
        <input type="text" name="agent" ><br>
    </form>
-->
